<!DOCTYPE html>
<html>
  <head>
    <title>TODO LIST</title>
  </head>
  <body>
    <form action="/printdict" method="POST">
      <table align="center">
        <tr>
          <td><input type="submit" name="action" value="dict1" /></td>
          <td><input type="submit" name="action" value="dict2" /></td>
        </tr>
        <tr>
          <td><input type="submit" name="action" value="dict3" /></td>
          <td><input type="submit" name="action" value="dict4" /></td>
        </tr>
        <tr>
          <td><input type="submit" name="action" value="dict5" /></td>
          <td><input type="submit" name="action" value="dict6" /></td>
        </tr>
        <tr>
          <td><input type="submit" name="action" value="dict7" /></td>
          <td><input type="submit" name="action" value="dict8" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
